#main{
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
   
}
.logo{
    height: 50px;
    width: 50px;
    margin: 1%;
    }

.socialmediaimage{
    height: 20px;
    width: 22px;
    float: right;
}
#color{
    background-color:#e0e0e0;
    
}
.head{
    background-color: rosybrown;
    top:0;
    height:60px;
    position: fixed;
     width: 100%;
     left:0;
    }
.footer{
    background-color: rosybrown;
     bottom:0;
     position: fixed;
     width: 100%;
     height: 45px;
     left:0;
     
     
   }
 #login{
     float: right;
    margin: 10px;
    text-decoration: none;
    color:black;
    
 }
     
#room{
   text-align: center;
   font-size: 10px;
   margin-bottom: 40px;
   position:fixed;
   margin-left: 500px;
  
}
a{
    text-decoration: none;
    color:black;
    margin: 10px;
    text-align: center;
    padding: 10px;
     }

    