#selectedhtl{
    height: 300px;
    width: 500px;
    margin:2% 4% 0% 4%;
}
.align{
 margin :0% 4% 1% 4%;
 
}
.hotel{
    margin: 1% 4% 4% 2%;
}
.column{
    float: right;
    justify-content:start;
    font-family: cursive;
    display: flex;
    border: 5px solid black;
    border-radius: 5px;
    align-items: center;
    margin-left:300px;
    margin-right: 0px;
    width:500px;

}
.checked{
    color: yellow;
}