.listimage{
    height: 200px;
    width: 200px;
   }
.position{
    margin: 2%;
    background-color:lightgrey;
    width: 30%;
    display: flex;
    justify-content:start;
    align-items: flex-start;
    float: left;
}
#list{
   text-align: center;
   text-transform: lowercase;
}
.mapview{
    display: none;
}
