.listimage{
    height: 200px;
    width: 200px;
   }
.position{
    margin: 2%;
    background-color:lightgrey;
    width: 30%;
    justify-content:start;
    align-items: flex-start;
    
}
#list{
   text-align: center;
   text-transform: lowercase;
}
.rating {
    color:burlywood;
}
.checked{
    color:yellow;
}
