.listimage{
    height: 200px;
    width: 200px;
    
}
#position{
    margin: 2%;
    background-color: rgb(132,136,139);
    width: 40%;
}
#list{
   text-align: center;
   text-transform: lowercase;
}
.mapview{
    display: none;
}