#payimg{
    height: 300px;
    width: 300px;
}
.image{
    background-color:rgb(132,136,139);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width:400px;
    height: 400px;
}
.container{
    display:flex;
    background-color: rosybrown;
    margin : 50px;
     height:150px;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
}
.image:hover{
    background-color: rosybrown;
}
